$color1: #eef2f2; // Use this color as the background for your dark-on-light designs, or the text color of an inverted design.
$color2: #7782a1; // Accent colors can be used to bring attention to design elements by contrasting with the rest of the palette.
$color3: #577aaf; // This color should be eye-catching but not harsh. It can be liberally applied to your layout as its main identity.
$color4: #595671; // Another accent color to consider. Not all colors have to be used - sometimes a simple color scheme works best.
$color5: #15193c; // Use as the text color for dark-on-light designs, or as the background for inverted designs.

@mixin tablet {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width: 1200px) {
    @content;
  }
}

.App {
  background-color: $color1;
  height: 100vh;
  width: 100vw;
}

.footer {
  background-color: $color2;
  bottom: 0;
  height: 125px;
  position: absolute;
  width: 100vw;
}

.header {
  background-color: $color2;
  height: 125px;
  position: relative;
  width: 100%;
}

.navBar {
  background-color: rgba($color5,.5);
  height: 0;
  position: absolute;
  transition: .5s;
  width: 100%;
  z-index: 1;

  &:hover {
    height: 70vh;
  }

  &::after {
    aspect-ratio: 1;
    background-color: rgba($color5,.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    bottom: -40px;
    content: "≡";
    font-size: 1.8em;
    position: absolute;
    right: 0;
    text-align: center;
    transform-origin: top left;
    width: 40px;
  }
}